name: Helm Chart Release Trigger

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Show version received
        run: |
          echo "Version received (changed): ${{ inputs.version }}"

