name: Helm Chart Release Trigger

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

  workflow_dispatch:
    inputs:
      version:
        description: "Manual test version"
        required: true
        default: "0.0.0"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Show version received
        run: |
          echo "Version received (changed): ${{ inputs.version }}"

